<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/scripts/main.js"></script>
		<title>Blockchain Consensus</title>
	</head>
	<body>
		<div class="main-container">
			<div class="left-pane">
				<div class="param-title">
					Network
				</div>
				<div class="param-container">
					<div class="param-item">
						<div class="param-left">
							Parameter Name
						</div>
						<div class="param-right">
							Input
						</div>
					</div>
					<div class="param-item">
						<div class="param-left">
							Parameter Name
						</div>
						<div class="param-right">
							Input
						</div>
					</div>
				</div>
			</div>
			<div class="right-pane"></div>
		</div>
	</body>
</html>