html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
    background-color: #eee;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;

    height: 100%;
    width: 100%;
}

.main-container {
	/* Positioning */
	top: 0;	bottom: 0; left: 0; right: 0;
	margin: auto;
	width: 97%;
	height: 95%;
	position: absolute;

	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;

	display: flex;
}

.left-pane {
	flex: 0 0 20%;
	display: flex;
	flex-direction: column;
}

.right-pane {
	flex: 1;
	box-shadow: inset 5px 0px 15px -5px rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
}

.param-title {
	background-color: #5790af;
	padding: 15px;
	font-size: 24px;
	color: #fff;
	flex: 0 0 auto;
	cursor: default;

	text-align: center;
}

.network-title {
	background-color: #5790af;
}

.node-title {
	background-color: #af9657;
}

.temp-title {
	background-color: #af5757;
}

.param-container {
	overflow-y: auto;
	flex: 1;
}

.param-container.not-exist {
	overflow: hidden;
}

.param-item {
	padding: 15px;
	border-bottom: 1px solid #ddd;

	display: flex;
	align-items: center;
}

.param-item.not-exist {
	background-image: linear-gradient(180deg, #eaeaea, white, white, white, white));
	flex-direction: column;

	height:100%;
}

.param-not-exist {
	flex: 1;
}

.param-left {
	flex: 1;
	height: 100%;
}

.param-right {
	flex: 0 0 auto;
	text-align: center;

	margin: auto;
}

.vis {
	flex: 1;
}

.chain-vis {
	background-color: #f3f3f3;
	flex: 2;

	display: flex;
	align-items: center;
}

.footer {
	flex: 0 0 auto;

	width: 100%;
	height: 100px;
	background-color: #fff;
	box-shadow: 0px -15px 15px -16px rgba(0, 0, 0, 0.2);

	display: flex;
}

.timeline-container {
	flex: 1;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.slide-container {
	width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.button-container {
	flex: 0 0 auto;
	height: 100%;

	display: flex;
	align-items: center;

}

.button {
	font-size: 72px;
	cursor: pointer;

	color: #888;
	transition: all 0.1s ease-in-out;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Opera and Firefox */
}

.button:hover {
	color: #111;
}

.input-text {
	width: 50px;
	padding: 5px;
	font-size: 16px;
	text-align: center;
}

.input-check {
	width: 35px;
	height: 35px;
}

/* Hide arrows from text input field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.node {
	background-color: #03bef1;
	width: 50px;
	height: 50px;

/*	transition-property: transform, background-color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease, ease;*/

	transition: transform .2s ease;

	position: absolute;

	border-radius: 50%; /* the magic */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.node:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.node.selected {
	box-shadow: 0px 0px 10px 5px #717171cc;
	border: 2px solid #fff;
	z-index: 1;
}

.block-owner {
	transform: scale(1.1);
}

#temp-node {
	background-color: #a0a0a0;
	width: 50px;
	height: 50px;

	border-radius: 50%; /* the magic */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	position: absolute;
}

.param-btn {
	cursor: pointer;
	background-color: gray;
	margin: 10px 50px;
	padding: 10px;
	text-align: center;

	transition: all .1s ease-in-out;
}

.save {
	background-color: #dadada;
	color: #000;
}

.save:hover {
	background-color: #cacaca;
}

.save:active {
	background-color: #afafaf;
}

.save.inactive {
	background-color: #efefef;
	color: #949494;
	cursor: not-allowed;
}

#timestep-counter {
    position: fixed;
    left: 59%;
    color: #7b7b7b;
    z-index: 1000;
    cursor: default;
    font-size: 36px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}